[submodule "FPGA-Resource-Manager-APIs"]
	path = FPGA-Resource-Manager-APIs
	url = https://github.com/tannerblair/FPGA-Resource-Manager-APIs
[submodule "FPGA-Resource-Manager-Client-Example"]
	path = FPGA-Resource-Manager-Client-Example
	url = https://github.com/tannerblair/FPGA-Resource-Manager-Client-Example
